.about-container {
	margin-top: -40px;
	padding: 100px 0;
	background: $white;
	transform: skewY(-3deg);
	.inner-wrapper {
			transform: skewY(3deg);
			display: flex;
			flex-direction: column;
			justify-content: center;
	}
}

.about-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 35px 0;
	@media all and (max-width: 900px) {
		flex-direction: column;
	}
	p {
		width: 100%;
		@media all and (max-width: 900px) {
			padding: 0 50px;
		}
		@media all and (max-width: 700px) {
			text-align: center;
		}
	}
}

.about-text {
	width: 75%;
	@media all and (max-width: 900px) {
		width: 100%;
	}
}

.headshot {
	@media all and (max-width: 900px) {
		margin-right: 0;
		margin-bottom: 25px;
	}
	img {
		width: 200px;
		border-radius: 50%;
		@media all and (max-width: 700px) {
			width: 150px;
		}
	}
}

.cv {
	margin: 0 auto;
}