// BLOG SAMPLES / FRONT PAGE

.blog-container {
	padding: 100px 0;
	background: $white;
	transform: skewY(-3deg);
	.inner-wrapper {
			transform: skewY(3deg);
	}
}

.blog-posts {
	display: flex;
	justify-content: space-between;
	.blog-post {
		width: 30%;
	}
}




// BLOG PAGE FULL

