.contact-container {
	position: relative;
	padding: 100px 0;
	h3 {
		color: $white;
	}
}

.info-form-container {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
}

.information {
	width: 35%;
	h3 {
		text-align: left;
		margin: 0;
	}
	.email-btn {
		text-transform: lowercase;
		padding: 15px;
		color: $white;
		border: 3px solid $white;
	}
}

.contact-form {
	.name-input,
	.email-input,
	textarea {
		color: $white;
		padding: 15px;
		background: $black;
		border: 3px solid $white;
	}
}

.contact-form {
	width: calc(50% + 87px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.name-input,
	.email-input {
		width: 49%;
	}
	textarea {
		max-width: 100%;
		min-width: 100%;
		margin: 25px 0;
	}
}

.submit-button {
	text-transform: uppercase;
	background: $white;
	padding: 15px 30px;
	border: 3px solid $white;
	color: $black;
	transition: all 0.5s ease;
	&:hover {
		color: $white;
		background: transparent
	}
}

.back-to-top {
	position: absolute;
	bottom: -22px;
	left: calc(50% - 23px);
	text-align: center;
	border-radius: 50%;
	padding: 7px;
	z-index: 10;
	transition: all 0.5s ease;
	background: $black;
	color: $white;
	&:hover {
		background: $white;
		color: $black;
	}
	.fa-angle-up {
		font-size: 2.5rem;
		display: inline-block;
		width: 2rem;
		line-height: 1.6rem;
	}
}