.site-footer {
	padding: 100px 0 50px 0;
	background: $white;
	transform: skewY(-3deg);
	margin-bottom: -20px;
	.inner-wrapper {
			transform: skewY(3deg);
	}
}

.social-buttons {
	margin: 0 auto;
	text-align: center;
	.social-button {
		padding: 10px;
		line-height: 1;
		color: $darkgrey;
		border: 2px solid $lightgrey;
		border-radius: 50%;
		.fa {
			display: inline-block;
			font-size: 1rem;
			line-height: 1rem;
			width: 1rem;
		}
	}
}

.site-info {
	text-align: center;
}