.site-footer {
	padding: 75px 0 0 0;
	background: $white;
	transform: skewY(-3deg);
	margin-bottom: -20px;
	box-shadow: 0 100px 0 $white;
	.inner-wrapper {
			transform: skewY(3deg);
	}
}

.social-buttons {
	margin: 0 auto 35px auto;
	text-align: center;
	.social-button {
		margin: 5px;
		padding: 10px;
		line-height: 1;
		color: $darkgrey;
		border: 2px solid $lightgrey;
		border-radius: 50%;
		transition: all 0.5s ease;
		&:hover {
		color: $white;
		border: 2px solid $sand;
		background: $sand;
		}
		.fa {
			display: inline-block;
			font-size: 1rem;
			line-height: .8rem;
			width: 1rem;
		}
	}
}

.site-info {
	text-align: center;
}