.site-header {
	background: $black;
}

.nav-logo-container {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
	.main-navigation {
		display: flex;
		align-items: center;
	}
}

.site-branding {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 1rem;
	color: $white;
	position: relative;
	margin: 0;
	a {
		display: inline-block;
		padding: 15px 20px;
		color: $white;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
	.mini-box {
		position: absolute;
		width: 10px;
		height: 10px;
		}
	.mini-topleft {
		border-top: 3px solid $white;
		border-left: 3px solid $white;
		top: 0;
		left: 0;
	}
	.mini-topright {
		border-top: 3px solid $white;
		border-right: 3px solid $white;
		top: 0;
		right: 0;
	}
	.mini-bottomleft {
		border-bottom: 3px solid $white;
		border-left: 3px solid $white;
		bottom: 0;
		left: 0;
	}
	.mini-bottomright {
		border-bottom: 3px solid $white;
		border-right: 3px solid $white;
		bottom: 0;
		right: 0;
	}
}

.menu {
	display: flex;
	margin: 0;
	list-style: none;
	.menu-item {
		padding: 10px;
		a {
			text-decoration: none;
			color: $white;
		}
	}
}

