.home-container {
	padding: 200px 0 200px 0;
}

.tagline {
	text-align: center;
	margin: 0 auto;
	h2 {
		letter-spacing: 2px;
		font-weight: 300;
	}
	h2,
	h3 {
		color: $white;
		text-transform: uppercase;
		margin: 10px 0;
	}
	.site-description {
		font-family: $fontMain;
		font-weight: 100;
		letter-spacing: 3px;
	}
}

.dev-name {
}

.wide-line {
	display: inline-block;
	width: 350px;
	height: 3px;
	background: $white;
}