// Imports
@import 'setup';
@import 'variables';
@import 'header';
@import 'home';
@import 'about';
@import 'works';
@import 'blog';
@import 'contact';
@import 'footer';





// GENERAL STYLES

html {
	font-size: 16px;
	font-family: $fontMain;
	line-height: 1.2;
}

body {
	background: $black;
}

h1,
h2,
h3,
h4 {
	font-family: $fontHeader;
	text-transform: uppercase;
}

h3 {
	text-align: center;
}

p {
	color: $darkgrey;
}

a {
	text-decoration: none;
}

.outer-wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.inner-wrapper {
	max-width: 970px;
	margin: 0 auto;
}

.button {
	padding: 10px 20px;
	border: 3px solid $black;
	transition: all 0.5s ease;
	color: $black;
	&:hover {
		background: $black;
		color: $white;
	}
}