article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.site-header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: rgba(40, 40, 40, 0.8); }

.nav-logo-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0; }
  .nav-logo-container .main-navigation {
    text-transform: uppercase;
    display: flex;
    align-items: center; }

.site-branding {
  display: inline-flex;
  flex-direction: column;
  align-items: center; }

h1 {
  font-size: 1rem;
  font-weight: 300;
  color: #fefefe;
  position: relative;
  margin: 0; }
  h1 a {
    display: inline-block;
    padding: 15px 20px;
    color: #fefefe;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px; }
  h1 .mini-box {
    position: absolute;
    width: 10px;
    height: 10px; }
  h1 .mini-topleft {
    border-top: 3px solid #fefefe;
    border-left: 3px solid #fefefe;
    top: 0;
    left: 0; }
  h1 .mini-topright {
    border-top: 3px solid #fefefe;
    border-right: 3px solid #fefefe;
    top: 0;
    right: 0; }
  h1 .mini-bottomleft {
    border-bottom: 3px solid #fefefe;
    border-left: 3px solid #fefefe;
    bottom: 0;
    left: 0; }
  h1 .mini-bottomright {
    border-bottom: 3px solid #fefefe;
    border-right: 3px solid #fefefe;
    bottom: 0;
    right: 0; }

.menu {
  display: flex;
  margin: 0;
  list-style: none; }
  .menu .menu-item a {
    position: relative;
    display: inline-block;
    padding: 10px 5px;
    margin: 0 5px;
    text-decoration: none;
    color: #fefefe;
    overflow: hidden; }
    .menu .menu-item a:after {
      position: absolute;
      bottom: 0;
      left: -100%;
      content: "";
      width: 100%;
      height: 3px;
      background: #fefefe;
      transition: left 0.5s ease; }
    .menu .menu-item a:hover:after {
      left: 0; }

.home-container {
  padding: 250px 0 250px 0;
  background: linear-gradient(rgba(40, 40, 40, 0.8), rgba(40, 40, 40, 0.8)), url("images/long-grass.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.tagline {
  text-align: center;
  margin: 0 auto; }
  .tagline h2 {
    letter-spacing: 2px;
    font-weight: 300; }
  .tagline h2,
  .tagline h3 {
    color: #fefefe;
    text-transform: uppercase;
    margin: 10px 0; }
  .tagline .site-description {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    letter-spacing: 3px; }

.wide-line {
  display: inline-block;
  width: 350px;
  height: 3px;
  background: #fefefe; }

.about-container {
  margin-top: -40px;
  padding: 100px 0;
  background: #fefefe;
  transform: skewY(-3deg); }
  .about-container .inner-wrapper {
    transform: skewY(3deg);
    display: flex;
    flex-direction: column;
    justify-content: center; }

.about-content {
  display: flex;
  align-items: center;
  margin: 35px 0; }

.headshot {
  margin-right: 5%; }
  .headshot img {
    width: 200px;
    border-radius: 50%; }

.cv {
  display: inline-block;
  margin: 0 auto; }

.portfolio-container {
  color: #fefefe;
  padding: 100px 0; }

.portfolio-item {
  display: flex;
  justify-content: space-between;
  margin: 50px 0; }
  .portfolio-item .portfolio-image {
    width: calc(45% - 59px); }
    .portfolio-item .portfolio-image img {
      max-width: 100%;
      display: block; }
  .portfolio-item .portfolio-text {
    position: relative;
    width: calc(50% + 59px); }
    .portfolio-item .portfolio-text h4 {
      margin-top: 0; }

.tech {
  display: inline-block;
  padding: 3px 5px;
  margin-right: 15px;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe; }

.button.viewLive {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fefefe;
  border: 3px solid #fefefe; }
  .button.viewLive:hover {
    background: #fefefe;
    color: #282828; }

.blog-container {
  padding: 100px 0;
  background: #fefefe;
  transform: skewY(-3deg); }
  .blog-container .inner-wrapper {
    transform: skewY(3deg); }

.blog-posts {
  display: flex;
  justify-content: space-between; }
  .blog-posts .blog-post {
    position: relative;
    border: 3px solid #797b7d;
    width: 32%;
    padding: 15px;
    margin: 50px 0; }
    .blog-posts .blog-post p {
      margin-bottom: 75px; }
    .blog-posts .blog-post .button {
      position: absolute;
      bottom: 15px;
      left: calc(50% - 63.6875px);
      display: inline-block;
      justify-content: center;
      margin: 0 auto;
      text-align: center; }

.skill-icons {
  display: flex;
  flex-wrap: wrap; }
  .skill-icons .devicons {
    text-align: center;
    margin-top: 35px;
    font-size: 10rem;
    width: 33.33%; }

.devicons-html5 {
  color: #D25A3B; }

.devicons-css3 {
  color: #2E76B3; }

.devicons-sass {
  color: #BE729B; }

.devicons-javascript_badge {
  color: #EFD65B; }

.devicons-jquery {
  color: #256CA8; }

.devicons-wordpress {
  color: #42A0CF; }

.devicons-php {
  color: #5A6DA3; }

.devicons-git {
  color: #E15F40; }

.devicons-gulp {
  color: #D65B57; }

.contact-container {
  position: relative;
  padding: 100px 0; }
  .contact-container h3 {
    color: #fefefe; }

.info-form-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between; }

.information {
  width: 35%; }
  .information h3 {
    text-align: left;
    margin: 0; }
  .information .email-btn {
    text-transform: lowercase;
    padding: 15px;
    color: #fefefe;
    border: 3px solid #fefefe; }

.contact-form .name-input,
.contact-form .email-input,
.contact-form textarea {
  color: #fefefe;
  padding: 15px;
  background: #282828;
  border: 3px solid #fefefe; }

.contact-form {
  width: calc(50% + 87px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .contact-form .name-input,
  .contact-form .email-input {
    width: 49%; }
  .contact-form textarea {
    max-width: 100%;
    min-width: 100%;
    margin: 25px 0; }

.submit-button {
  text-transform: uppercase;
  background: #fefefe;
  padding: 15px 30px;
  border: 3px solid #fefefe;
  color: #282828;
  transition: all 0.5s ease; }
  .submit-button:hover {
    color: #fefefe;
    background: transparent; }

.back-to-top {
  position: absolute;
  bottom: -22px;
  left: calc(50% - 23px);
  text-align: center;
  border-radius: 50%;
  padding: 7px;
  z-index: 10;
  transition: all 0.5s ease;
  background: #282828;
  color: #fefefe; }
  .back-to-top:hover {
    background: #fefefe;
    color: #282828; }
  .back-to-top .fa-angle-up {
    font-size: 2.5rem;
    display: inline-block;
    width: 2rem;
    line-height: 1.6rem; }

.site-footer {
  padding: 75px 0 0 0;
  background: #fefefe;
  transform: skewY(-3deg);
  margin-bottom: -20px;
  box-shadow: 0 100px 0 #fefefe; }
  .site-footer .inner-wrapper {
    transform: skewY(3deg); }

.social-buttons {
  margin: 0 auto 35px auto;
  text-align: center; }
  .social-buttons .social-button {
    margin: 5px;
    padding: 10px;
    line-height: 1;
    color: #797b7d;
    border: 2px solid #D9DADB;
    border-radius: 50%;
    transition: all 0.5s ease; }
    .social-buttons .social-button:hover {
      color: #fefefe;
      border: 2px solid #B8AC8D;
      background: #B8AC8D; }
    .social-buttons .social-button .fa {
      display: inline-block;
      font-size: 1rem;
      line-height: .8rem;
      width: 1rem; }

.site-info {
  text-align: center;
  text-transform: uppercase; }
  .site-info p {
    font-size: .6rem;
    letter-spacing: 2px; }

html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  line-height: 1.4; }

body {
  background: #282828; }

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

h3 {
  text-align: center; }

p {
  color: #797b7d;
  font-size: 1.1rem; }

a {
  text-decoration: none; }

.outer-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 25px; }

.inner-wrapper {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 25px; }

.button {
  text-transform: uppercase;
  padding: 10px 20px;
  border: 3px solid #282828;
  transition: all 0.5s ease;
  color: #282828; }
  .button:hover {
    background: #282828;
    color: #fefefe; }

.little-line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 0 auto;
  text-align: center; }
  .little-line.light {
    background: #fefefe; }
  .little-line.dark {
    background: #797b7d; }
