article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

.site-header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: rgba(40, 40, 40, 0.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .site-header:hover {
    background: rgba(40, 40, 40, 0.9); }

.nav-logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0; }
  @media all and (max-width: 610px) {
    .nav-logo-container {
      margin: 5px 0; } }
  @media all and (max-width: 574px) {
    .nav-logo-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .nav-logo-container .main-navigation {
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media all and (max-width: 700px) {
      .nav-logo-container .main-navigation {
        font-size: .8rem; } }
    @media all and (max-width: 574px) {
      .nav-logo-container .main-navigation {
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }

.site-branding {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px; }
  @media all and (max-width: 575px) {
    .site-branding {
      margin-right: 0; } }

h1 {
  font-size: 1rem;
  font-weight: 300;
  color: #fefefe;
  position: relative;
  margin: 0; }
  @media all and (max-width: 700px) {
    h1 {
      font-size: .8rem; } }
  h1 a {
    display: inline-block;
    padding: 15px 20px;
    color: #fefefe;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px; }
  h1 .mini-box {
    position: absolute;
    width: 10px;
    height: 10px; }
  h1 .mini-topleft {
    border-top: 3px solid #fefefe;
    border-left: 3px solid #fefefe;
    top: 0;
    left: 0; }
  h1 .mini-topright {
    border-top: 3px solid #fefefe;
    border-right: 3px solid #fefefe;
    top: 0;
    right: 0; }
  h1 .mini-bottomleft {
    border-bottom: 3px solid #fefefe;
    border-left: 3px solid #fefefe;
    bottom: 0;
    left: 0; }
  h1 .mini-bottomright {
    border-bottom: 3px solid #fefefe;
    border-right: 3px solid #fefefe;
    bottom: 0;
    right: 0; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  list-style: none;
  padding: 0; }
  .menu .menu-item a {
    position: relative;
    display: inline-block;
    padding: 10px 5px;
    margin: 0 5px;
    text-decoration: none;
    color: #fefefe;
    overflow: hidden; }
    @media all and (max-width: 410px) {
      .menu .menu-item a {
        margin: 0; } }
    @media all and (max-width: 410px) {
      .menu .menu-item a {
        font-size: 0.7rem; } }
    .menu .menu-item a:after {
      position: absolute;
      bottom: 0;
      left: -100%;
      content: "";
      width: 100%;
      height: 3px;
      background: #fefefe;
      -webkit-transition: left .5s ease;
      transition: left .5s ease; }
    .menu .menu-item a:hover:after, .menu .menu-item a:focus:after {
      left: 0; }

.home-container {
  padding: 250px 0 250px 0;
  background-image: -webkit-linear-gradient(rgba(40, 40, 40, 0.7), rgba(40, 40, 40, 0.7)), url("images/hot-springs.jpg");
  background-image: linear-gradient(rgba(40, 40, 40, 0.7), rgba(40, 40, 40, 0.7)), url("images/hot-springs.jpg");
  background-size: cover;
  background-position: top;
  overflow: hidden; }
  @media all and (max-width: 420px) {
    .home-container {
      padding: 200px 0 200px 0; } }

.tagline {
  text-align: center;
  margin: 0 auto; }
  @media all and (max-width: 420px) {
    .tagline {
      max-width: 100%; } }
  .tagline h2 {
    letter-spacing: 2px;
    font-weight: 300; }
  .tagline h2,
  .tagline h3 {
    color: #fefefe;
    text-transform: uppercase;
    margin: 10px 0; }
    @media all and (max-width: 420px) {
      .tagline h2,
      .tagline h3 {
        font-size: 1.1rem; } }
  .tagline .site-description {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    letter-spacing: 3px; }

.wide-line {
  display: inline-block;
  width: 350px;
  height: 3px;
  background: #fefefe; }
  @media all and (max-width: 420px) {
    .wide-line {
      display: none; } }

.about-container {
  margin-top: -40px;
  padding: 100px 0;
  background: #fefefe;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg); }
  .about-container .inner-wrapper {
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.about-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35px 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .about-content p {
    width: 100%; }
    .about-content p a {
      color: #797b7d;
      font-weight: 300; }
      .about-content p a:hover {
        text-decoration: underline; }
    @media all and (max-width: 900px) {
      .about-content p {
        padding: 0 50px; } }
    @media all and (max-width: 700px) {
      .about-content p {
        padding: 0; } }

.headshot-text-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px; }
  @media all and (max-width: 900px) {
    .headshot-text-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.about-text {
  width: 74%; }
  @media all and (max-width: 900px) {
    .about-text {
      width: 100%; } }

@media all and (max-width: 900px) {
  .headshot {
    margin-right: 0;
    margin-bottom: 25px; } }

.headshot img {
  display: block;
  width: 200px;
  border-radius: 50%; }
  @media all and (max-width: 700px) {
    .headshot img {
      width: 150px; } }

.cv {
  display: inline-block;
  margin: 0 auto; }

.portfolio-container {
  color: #fefefe;
  padding: 100px 0; }
  @media all and (max-width: 410px) {
    .portfolio-container {
      padding: 100px 0 50px 0; } }

.portfolio-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 100px 0; }
  @media all and (max-width: 900px) {
    .portfolio-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .portfolio-item .portfolio-image {
    width: calc(45% - 59px); }
    @media all and (max-width: 900px) {
      .portfolio-item .portfolio-image {
        width: 100%; } }
    .portfolio-item .portfolio-image img {
      max-width: 100%;
      display: block; }
  .portfolio-item .portfolio-text {
    position: relative;
    width: calc(50% + 59px); }
    @media all and (max-width: 900px) {
      .portfolio-item .portfolio-text {
        width: 100%;
        padding: 25px 0 50px 0; } }
    .portfolio-item .portfolio-text h4 {
      margin-top: 0;
      margin-bottom: 15px; }
    .portfolio-item .portfolio-text p a {
      color: #797b7d;
      font-weight: 300; }
      .portfolio-item .portfolio-text p a:hover {
        text-decoration: underline; }

.tech {
  display: inline-block;
  padding: 3px 5px;
  margin-right: 15px;
  margin-bottom: 5px;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
  font-size: .8rem; }

.portfolio-text .button.viewLive {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fefefe;
  border: 3px solid #fefefe;
  text-decoration: none; }
  .portfolio-text .button.viewLive:hover, .portfolio-text .button.viewLive:focus {
    background: #fefefe;
    color: #282828; }
  @media all and (max-width: 900px) {
    .portfolio-text .button.viewLive {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); } }

.blog-container {
  padding: 100px 0;
  background: #fefefe;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg); }
  .blog-container .inner-wrapper {
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg); }
    .blog-container .inner-wrapper p {
      text-align: center; }

.blog-posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .blog-posts .blog-post {
    position: relative;
    border: 3px solid #797b7d;
    width: 32%;
    padding: 15px;
    margin: 50px 0; }
    .blog-posts .blog-post p {
      margin-bottom: 75px; }
    .blog-posts .blog-post .button {
      position: absolute;
      bottom: 15px;
      left: calc(50% - 63.6875px);
      display: inline-block;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 auto;
      text-align: center; }

.skill-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .skill-icons .devicons {
    text-align: center;
    margin-top: 35px;
    font-size: 10rem;
    width: 33.33%; }
    @media all and (max-width: 574px) {
      .skill-icons .devicons {
        font-size: 8rem; } }
    @media all and (max-width: 500px) {
      .skill-icons .devicons {
        font-size: 6rem; } }
    @media all and (max-width: 400px) {
      .skill-icons .devicons {
        font-size: 4rem; } }

.devicons-html5 {
  color: #D25A3B; }

.devicons-css3 {
  color: #2E76B3; }

.devicons-sass {
  color: #BE729B; }

.devicons-javascript_badge {
  color: #EFD65B; }

.devicons-jquery {
  color: #256CA8; }

.devicons-wordpress {
  color: #42A0CF; }

.devicons-ruby {
  color: #9E1408; }

.devicons-ruby_on_rails {
  color: #B32524; }

.devicons-github_badge {
  color: #122635; }

.devicons-git {
  color: #E15F40; }

.devicons-gulp {
  color: #D65B57; }

.contact-container {
  position: relative;
  padding: 100px 0; }
  .contact-container h3 {
    color: #fefefe; }

.info-form-container {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media all and (max-width: 800px) {
    .info-form-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center; } }

.information {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 3px solid #fefefe;
  padding: 20px 15px 0 0;
  padding-right: 35px;
  width: 35%; }
  @media all and (max-width: 800px) {
    .information {
      width: 100%;
      padding: 0;
      border-right: none;
      margin-bottom: 50px;
      padding-bottom: 50px;
      border-bottom: 3px solid #fefefe; } }
  .information h4 {
    text-align: center;
    color: #fefefe;
    margin: 0; }
  .information .contact-box {
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    @media all and (max-width: 800px) {
      .information .contact-box {
        margin: 25px 0; } }
    .information .contact-box .fa {
      font-size: 2rem;
      color: #fefefe;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .information .contact-box .fa:hover, .information .contact-box .fa:focus {
        color: #D9DADB; }
  .information .email-btn {
    width: 100%;
    text-align: center;
    bottom: 0;
    display: inline;
    text-transform: lowercase;
    padding: 12px 30px;
    color: #fefefe;
    border: 3px solid #fefefe; }
    .information .email-btn:hover, .information .email-btn:focus {
      background: #fefefe;
      color: #282828; }

.contact-form .name-input,
.contact-form .email-input,
.contact-form textarea {
  color: #fefefe;
  padding: 15px;
  background: #282828;
  border: 3px solid #fefefe;
  border-radius: 0; }

.contact-form {
  width: calc(50% + 87px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media all and (max-width: 800px) {
    .contact-form {
      width: 100%; } }
  .contact-form .name-input,
  .contact-form .email-input {
    width: 49%; }
  .contact-form textarea {
    max-width: 100%;
    min-width: 100%;
    margin: 25px 0; }

.name-email-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.submit-container {
  width: 100%; }
  @media all and (max-width: 800px) {
    .submit-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.submit-button {
  border-radius: 0;
  text-transform: uppercase;
  background: #fefefe;
  padding: 15px 30px;
  border: 3px solid #fefefe;
  color: #282828;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media all and (max-width: 800px) {
    .submit-button {
      margin: 0 auto; } }
  .submit-button:hover, .submit-button:focus {
    color: #fefefe;
    background: transparent; }

.back-to-top {
  position: absolute;
  bottom: -22px;
  left: calc(50% - 23px);
  text-align: center;
  border-radius: 50%;
  padding: 7px;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #282828;
  color: #fefefe; }
  .back-to-top:hover, .back-to-top:focus {
    background: #fefefe;
    color: #282828; }
  .back-to-top .fa-angle-up {
    font-size: 2.5rem;
    display: inline-block;
    width: 2rem;
    line-height: 1.6rem; }

.site-footer {
  padding: 75px 0 0 0;
  background: #fefefe;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  margin-bottom: -20px;
  box-shadow: 0 100px 0 #fefefe; }
  .site-footer .inner-wrapper {
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg); }

.site-info {
  text-align: center;
  text-transform: uppercase; }
  .site-info p {
    margin-top: 20px;
    font-size: .6rem;
    letter-spacing: 2px; }

html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  line-height: 1.4; }

body {
  background: #282828; }

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

h3 {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 300; }

h4 {
  letter-spacing: 1.5px;
  font-weight: 300; }

p {
  color: #797b7d;
  font-size: 1.1rem; }

a {
  text-decoration: none; }

.outer-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 25px; }

.inner-wrapper {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 25px; }

.button {
  border-radius: 0;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 3px solid #282828;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #282828; }
  .button:hover {
    background: #282828;
    color: #fefefe; }

.little-line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 0 auto;
  text-align: center; }
  .little-line.light {
    background: #fefefe; }
  .little-line.dark {
    background: #797b7d; }

.fadeInBlock {
  opacity: 0; }
