article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.site-header {
  background: #282828; }

.nav-logo-container {
  display: flex;
  justify-content: space-between; }

.site-branding {
  display: inline-flex;
  flex-direction: column;
  align-items: center; }

h1 {
  font-size: 1rem;
  color: #fefefe;
  position: relative;
  margin: 0;
  padding: 20px 25px; }
  h1 a {
    padding: 20px 25px;
    color: #fefefe;
    text-decoration: none;
    text-transform: uppercase; }
  h1 .mini-box {
    position: absolute;
    width: 10px;
    height: 10px; }
  h1 .mini-topleft {
    border-top: 3px solid #fefefe;
    border-left: 3px solid #fefefe;
    top: 0;
    left: 0; }
  h1 .mini-topright {
    border-top: 3px solid #fefefe;
    border-right: 3px solid #fefefe;
    top: 0;
    right: 0; }
  h1 .mini-bottomleft {
    border-bottom: 3px solid #fefefe;
    border-left: 3px solid #fefefe;
    bottom: 0;
    left: 0; }
  h1 .mini-bottomright {
    border-bottom: 3px solid #fefefe;
    border-right: 3px solid #fefefe;
    bottom: 0;
    right: 0; }

.menu {
  display: flex;
  margin: 0;
  list-style: none; }
  .menu .menu-item {
    padding: 10px; }
    .menu .menu-item a {
      text-decoration: none;
      color: #fefefe; }

.home-container {
  padding: 50px 0 100px 0; }

.tagline h2 {
  color: #fefefe; }

.wide-line {
  display: inline-block;
  width: 300px;
  height: 3px;
  background: #fefefe; }

.about-container {
  padding: 100px 0;
  background: #fefefe;
  transform: skewY(-2deg); }
  .about-container .inner-wrapper {
    transform: skewY(2deg); }

.headshot img {
  width: 150px; }

.portfolio-container {
  padding: 100px 0; }

.blog-container {
  padding: 100px 0;
  background: #fefefe;
  transform: skewY(-2deg); }
  .blog-container .inner-wrapper {
    transform: skewY(2deg); }

.contact-container {
  padding: 100px 0; }

.site-footer {
  padding: 100px 0 50px 0;
  background: #fefefe;
  transform: skewY(-2deg);
  margin-bottom: -20px; }
  .site-footer .inner-wrapper {
    transform: skewY(2deg); }

.social-buttons {
  margin: 0 auto;
  text-align: center; }
  .social-buttons .social-button {
    padding: 10px;
    line-height: 1;
    color: #BABBBC;
    border: 2px solid #D9DADB;
    border-radius: 50%; }
    .social-buttons .social-button .fa {
      font-size: 1rem;
      line-height: 1; }

.site-info {
  text-align: center; }

html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  line-height: 1.2; }

body {
  background: #282828; }

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif; }

p {
  color: #BABBBC; }

.outer-wrapper {
  max-width: 1170px;
  margin: 0 auto; }

.inner-wrapper {
  max-width: 970px;
  margin: 0 auto; }
